pipeline/PL_INIT_ATTR.json
{
	"name": "PL_INIT_ATTR",
	"properties": {
		"activities": [
			{
				"name": "GET SOURCE TYPE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "WarehouseSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * from Watermark_Table WHERE Is_Active = ',pipeline().parameters.Is_Active, ' and  Source_Mode = ','''',pipeline().parameters.Load_Type,'''', ' and Source_Type = ','''',pipeline().parameters.Source_Type,'''',' and Schedule = ','''',pipeline().parameters.Frequency,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_FABRIC_WH",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Text Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GET SOURCE TYPE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_MASTER_ATTR_FULL_LOAD",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Extractor_Name": {
							"value": "@activity('GET SOURCE TYPE').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Source_Type": {
				"type": "string",
				"defaultValue": "Attr"
			},
			"Load_Type": {
				"type": "string",
				"defaultValue": "FULL"
			},
			"Is_Active": {
				"type": "string",
				"defaultValue": "1"
			},
			"Frequency": {
				"type": "string",
				"defaultValue": "Weekly"
			}
		},
		"variables": {
			"Source_Type": {
				"type": "String"
			},
			"Extractor_Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Master Data/ATTR"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-13T10:03:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}